<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AID</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
    <nav>
        <div class="container">
            <div class="title">
                <i class="fab fa-pied-piper-square"></i>
                <a href="/">AID</a>
            </div>
            <div class="menu_bar">
                <ul>
                    <li><a href="/login">login</a></li>
                    <li><a href="/register">register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container_form">
            <form method="post">
                <ul>
                    <li>
                        <div>
                            <p>회원정보</p>
                            <label><input type="radio" name="check" value="user">사용자</label>
                            <label><input type="radio" name="check" value="manager">보호자</label></div>
                        </div>
                    </li>
                    <li>
                        <label>ID  :</label>
                        <input type="text" name='id' required>
                    </li>
                    <li>
                        <label>PW :</label>
                        <input type="password" name="pw" required>
                    </li>
                </ul>
                <input type="submit" value="로그인">
            </form>
        </div>
    </section>
</body>

</html>